target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
*~
*.bak
*.log
.bash_private
.project
.classpath
.springBeans
.DS_Store
.externalToolBuilders/
.settings/
.vagrant/
nbproject/
node_modules/
*.ipr
*.iws
*.iml
.idea
rebel.xml
